.Rproj.user
.Rhistory
.RData
.Ruserdata
**/data/
**/forceeps/files/
**/misc/
**/pmp/
**/castanea/calibration/process_files/

**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/HBV-SASK/
**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/Model_Emulation/
**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/Morris/
**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/RSA/
**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/Sobol/
**/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/Test_Functions/
global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1.zip
/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/VARS/*
!/global_sensitivity_analysis/razavi_et_al/2019_11_16_VARS-Tool-v2.1/VARS/VARS_inp.txt

**/phenofit/old/
**/phenofit/first_tests/
**/phenofit/animated_convergence/output_files

**/present_calibration/climate_data/old/
**/present_calibration/algorithms/

**/forceeps/first_tests/
**/forceeps/sensitivity_analysis/efast_model_simulations/
**/forceeps/sensitivity_analysis/fast99_model_simulations/
**/forceeps/sensitivity_analysis/vars_model_simulations/
**/forceeps/sensitivity_analysis/vars_model_simulations_2/
**/forceeps/sensitivity_analysis/vars_model_simulations_3/

**/present_calibration/paper_old/

**/hindcasting/climate_data/generate/outputs
**/hindcasting/climate_data/generate/inputs
**/hindcasting/climate_data/diagnostic/gwgen_jed
**/hindcasting/simulation/phenofit/output
**/hindcasting/occurrence_data/herzschuhetal2021

**/correlative_models/old
**/correlative_models/fit/ecv/biomod/fit
**/correlative_models/fit/ecv/brt/fit
**/correlative_models/fit/ecv/random_forest/fit
**/correlative_models/fit/ecv/lasso_glm/fit
**/correlative_models/fit/ecv/gam/fit

**/present_calibration/calibration_paper/first_revision/_cache
**/present_calibration/calibration_paper/second_revision/_cache
**/present_calibration/calibration_paper/second_revision/cache
**/present_calibration/soil_data/download/vrt_files
**/present_calibration/calibration_paper/second_revision/figs

**/migration/MigClim/simulation_test
**/migration/MigClim/small_test
**/migration/MigClim/bretagne11kBP

**/hindcasting/climate_data/diagnostic